<div class="content" role="main">
    <!-- Table -->
    <h1>Score Sheet</h1>

    <div id='scoresheet'>
        <table id='scoresheetTable' class='scoresheet' cellpadding='1' cellspacing='0'>
            <tr>
                <th colspan='6'>Frame 1</th>
                <th colspan='6'>Frame 2</th>
                <th colspan='6'>Frame 3</th>
                <th colspan='6'>Frame 4</th>
                <th colspan='6'>Frame 5</th>
                <th colspan='6'>Frame 6</th>
                <th colspan='6'>Frame 7</th>
                <th colspan='6'>Frame 8</th>
                <th colspan='6'>Frame 9</th>
                <th colspan='6'>Frame 10</th>
            </tr>
            <tr>
                <td colspan='3'></td>
                <td id="frame1" colspan='3'>{{ game.frameScore[1].slice() }}</td>
                <td colspan='3'></td>
                <td id="frame2" colspan='3'>{{ game.frameScore[2].slice() }}</td>
                <td colspan='3'></td>
                <td id="frame3" colspan='3'>{{ game.frameScore[3].slice() }}</td>
                <td colspan='3'></td>
                <td id="frame4" colspan='3'>{{ game.frameScore[4].slice() }}</td>
                <td colspan='3'></td>
                <td id="frame5" colspan='3'>{{ game.frameScore[5].slice() }}</td>
                <td colspan='3'></td>
                <td id="frame6" colspan='3'>{{ game.frameScore[6].slice() }}</td>
                <td colspan='3'></td>
                <td id="frame7" colspan='3'>{{ game.frameScore[7].slice() }}</td>
                <td colspan='3'></td>
                <td id="frame8" colspan='3'>{{ game.frameScore[8].slice() }}</td>
                <td colspan='3'></td>
                <td id="frame9" colspan='3'>{{ game.frameScore[9].slice() }}</td>
                <td colspan='3'></td>
                <td id="frame10" colspan='3'>{{ game.frameScore[10].slice() }}</td>
            </tr>
            <tr>
                <td colspan='6' id="marker0">{{ game.runningScore[1] }}</td>
                <td colspan='6' id="marker1">{{ game.runningScore[2] }}</td>
                <td colspan='6' id="marker2">{{ game.runningScore[3] }}</td>
                <td colspan='6' id="marker3">{{ game.runningScore[4] }}</td>
                <td colspan='6' id="marker4">{{ game.runningScore[5] }}</td>
                <td colspan='6' id="marker5">{{ game.runningScore[6] }}</td>
                <td colspan='6' id="marker6">{{ game.runningScore[7] }}</td>
                <td colspan='6' id="marker7">{{ game.runningScore[8] }}</td>
                <td colspan='6' id="marker8">{{ game.runningScore[9] }}</td>
                <td colspan='6' id="marker9">{{ game.runningScore[10] }}</td>
            </tr>
        </table>
    </div>
</div>


<div class="buttons">
    <button type="button" [disabled]="(this.game.gameover)" (click)="scoreShot(0)" class="btn btn-primary">Gutter</button>
    <button type="button" [disabled]="(1 > this.game.pinCount)" (click)="scoreShot(1)" class="btn btn-primary">1</button>
    <button type="button" [disabled]="(2 > this.game.pinCount)" (click)="scoreShot(2)" class="btn btn-primary">2</button>
    <button type="button" [disabled]="(3 > this.game.pinCount)" (click)="scoreShot(3)" class="btn btn-primary">3</button>
    <button type="button" [disabled]="(4 > this.game.pinCount)" (click)="scoreShot(4)" class="btn btn-primary">4</button>
    <button type="button" [disabled]="(5 > this.game.pinCount)" (click)="scoreShot(5)" class="btn btn-primary">5</button>
    <button type="button" [disabled]="(6 > this.game.pinCount)"(click)="scoreShot(6)" class="btn btn-primary">6</button>
    <button type="button" [disabled]="(7 > this.game.pinCount)"(click)="scoreShot(7)" class="btn btn-primary">7</button>
    <button type="button" [disabled]="(8 > this.game.pinCount)" (click)="scoreShot(8)" class="btn btn-primary">8</button>
    <button type="button" [disabled]="(9 > this.game.pinCount)" (click)="scoreShot(9)" class="btn btn-primary">9</button>
    <button type="button" [disabled]="(10 > this.game.pinCount)" (click)="scoreShot(10)" class="btn btn-primary">10</button>
</div>

<div class="Game-Over">
<button type="button" [disabled]="!(this.game.gameover)" (click)="newGame()"> Final Score: {{game.runningScore[10]}}<br>
    New Game
</button>
</div>